@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800;900&display=swap');
@import 'buttons.css';
@import 'navbar.css';
@import 'background.css';
@import 'inputs.css';
@import 'position.css';
@import 'colors.css';
@import 'carousel.css';
@import 'avaliacoes.css';
@import 'utils.css';

/* Configurações de cores */

:root{
    --bg-orange:       #f46a05;
    --bg-orange-hover: #d85f08;
    --bg-black:        #000000;
    --bg-marron-1:     #757575;
    --bg-marron-2:     #f4f4f4;
    --bg-white:        #ffffff;
    --bg-yellow:       #fcb705;
    --bg-roxo:         #e9008c;
}

html, body{
    font-size: 16px;
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
    width: 100%;
    height: 100%;
}